{% extends "layout.html" %}
{% block content %}
<h1 class="mb-4 text-center">تمرين اليوم: Push Day</h1>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Bench Press (3x10 )
    <button class="btn btn-success">ابدأ</button>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Overhead Press (3x12)
    <button class="btn btn-outline-secondary" disabled>ابدأ</button>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Tricep Pushdown (4x15)
    <button class="btn btn-outline-secondary" disabled>ابدأ</button>
  </a>
</div>
{% endblock content %}
