{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <!-- --- تم التعديل هنا --- -->
    <h1 class="mt-4 mb-4">الأندية والصالات الرياضية</h1>
    <ul class="list-group">
        <!-- نادي وهمي 1 -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">Gold's Gym - فرع المعادي</h5>
                <small>تقييم: 4.8 <i class="fas fa-star text-warning"></i> (125 تقييم )</small>
            </div>
            <a href="#" class="btn btn-outline-primary">عرض الصفحة</a>
        </li>
        <!-- نادي وهمي 2 -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">Transforma - فرع التجمع</h5>
                <small>تقييم: 4.5 <i class="fas fa-star text-warning"></i> (98 تقييم)</small>
            </div>
            <a href="#" class="btn btn-outline-primary">عرض الصفحة</a>
        </li>
    </ul>
</div>
{% endblock content %}
